<form  [formGroup]="form" class="col">
	<div class="row">
		<h4 class="mb-4">
			<span *ngIf="!is_editing">Enter your Details</span> 
			<span *ngIf="is_editing">Edit Form</span> 
			<button (click)="onEditClick()" [ngClass]="onEditing()" class="btn shadow-lg rounded-pill btn-sm float-end">
				<span *ngIf="!is_editing"><i class="fa fa-edit me-1"></i>Edit Form</span>
				<span *ngIf="is_editing" ><i class="fa fa-close me-1"></i>Close</span>
			</button>
		</h4>
	</div>
	<div class="row" *ngFor="let field of fields">
		<div class="col" app-fieldgenerator [field]="field" [form]="form" [editstatus]="is_editing"></div>
	</div>
</form>
