<div class="row mb-4" [formGroup]="form" >
	<div [ngClass]="resputility(field.col_type)" class="position-relative p-2 align-self-center" *ngFor="let fld of field.elements">
		<i (click)="deleteField(fld.element_id)" *ngIf="editstatus" class="fa fa-trash text-danger  position-absolute end-0 mt-2 me-3"></i>
		<input readonly type="{{ fld.type }}" class="form-control" [id]="fld.element_id" placeholder="{{ fld.label }}" [formControlName]="fld.element_id">
	</div>
</div>
