.bg-new-grad{
	background: rgb(50,36,175);
	background: linear-gradient(157deg, rgba(50,36,175,1) 0%, rgba(197,108,214,1) 100%);
}
.bitmap_bck{
	background:url("/assets/images/bitmap.png");
	background-size:contain;
	    background-repeat: no-repeat;
    background-position: center;
}
.idea_bck{
	background:url("/assets/images/idea@3x.png");
	background-size:contain;
	    background-repeat: no-repeat;
    background-position: center;
}
.main_bck{
	background:#F7FAFF;
}
