<div class="container-fluid vh-100">
	<div class="row vh-100">
		<div class="col-md-3  vh-100 bg-new-grad">
			<div class="row vh-100">
				<div class="col-md-12 align-self-start bitmap_bck h-50">
					<div class="row h-100">
						<div class="col align-self-center align-middle px-5">
								<img class="float-start me-2"  src="/assets/images/logo@2x.png" alt="">
								<h2 class="text-white fw-bold">Form <br/> Builder</h2>
						</div>

					</div>
				</div>
				<div class="col-md-12 align-self-end idea_bck h-50">

				</div>
			</div>
		</div>
		<div class="col-md-9 main_bck mt-2">
			<div class="row h-100 justify-content-center">
				<div class="col-md-8 align-self-center">
					<div class="card shadow-lg p-5">
						<div class="row" app-dynamic-form [fields]="getFields()"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
